<div
  class="wrapContainer"
  style="display: flex; justify-content: space-around; flex-wrap: wrap"
>
  <div class="card bg-dark text-light mb-3" style="cursor: pointer">
    <div class="card-body" (click)="onClickBook()">
      <img src="../../assets/beCuriousBook.png" alt="" width="250" />
      <span><h2>Books</h2></span>
    </div>
  </div>
  <div class="card bg-dark text-light mb-3" style="cursor: pointer">
    <div class="card-body" (click)="onClickShirt()">
      <img src="../../assets/beCuriousShirt.png" alt="" width="250" />
      <span><h2>Shirts</h2></span>
    </div>
  </div>
</div>
