<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white" >
    <div class="container-fluid" ngbDropdown>
      <button ngbDropdownToggle
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
        
      >
        <!-- <i class="fas fa-bars"></i> -->
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01" ngbDropdownMenu>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li><a class="nav-link" routerLink="/">Home</a></li>

          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/items">Items</a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/checkout" data-cy="checkoutButton"
              >Checkout</a
            >
          </li>
          <li routerLinkActive="active">
            <a
              class="nav-link"
              routerLink="/auth"
              data-cy="authButton"
              *ngIf="authenticated"
              >Login</a
            >
          </li>
          <li routerLinkActive="active">
            <a
              class="nav-link"
              routerLink="/auth"
              data-cy="authButton"
              *ngIf="!authenticated"
              >Signup</a
            >
          </li>
          <li routerLinkActive="active">
            <a
              class="nav-link"
              routerLink="/manager-portal"
              data-cy="managerPortalButton"
              >Manager Portal</a
            >
          </li>
        </ul>

        <app-cart-icon routerLink="/checkout"></app-cart-icon>
      </div>
    </div>
  </nav>
  <div class="col-6">
    <app-search-bar class="m-2"></app-search-bar>
    <div class="col-12">
      <button
        class="btn btn-primary m-1 position-absolute top-1 end-25"
        id="backButton"
        (click)="backButton()"
      >
        Back
      </button>
    </div>
  </div>
</header>
