<p-carousel 
  [value]="items"
  styleClass="custom-carousel"
  [numVisible]="3"
  [numScroll]="1"
  [circular]="true"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
>
  <!-- <ng-template pTemplate="header">
    <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
  </ng-template> -->
  <ng-template let-product pTemplate="item" class="text-center">
    <div >
      <div (click)="nav(product)">
      <h4>{{ product.name }}</h4>
      <h6 class="p-mt-0 p-mb-3">£{{product.price}}</h6>
      <img  width="200" src={{product.url}} alt="">
    </div>
      <br>
     <div *ngIf="product.price > 15" class="col-sm-2"> <select name="size" id="size" [(ngModel)]="size" class="form-select">
      <option value="S">S</option>
      <option value="M">M</option>
      <option value="L">L</option>
  </select></div>
  <button class="btn btn-primary mt-2" (click)="quickAdd(product, size)" >Quick add</button>
    </div>
  </ng-template>
</p-carousel>
